<div class="app-body">
  <main class="main d-flex align-items-center">
     <div class="container" style="align-content: center">
        <br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br>
        <div class="row">
           <div class="col-md-6 mx-auto">
              <div class="card-group">
                 <div class="card p-4">
                    <div class="card-body">
                       <form #loginform="ngForm" (ngSubmit)="gotoconfirm()">
                       <h1>Forgot Password</h1>
                       <p class="text-muted">Forgot Password Account</p>
                       <div class="controls">
                          <div class="input-prepend input-group">
                             <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-envelope"></i></span>
                             </div>
                             <input type="email" class="form-control" placeholder="Enter email" name="email"
                             [(ngModel)]="user.email" required ngModel #email="ngModel" required
                             pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                          </div>
                          <div *ngIf="email.errors && (email.invalid && email.touched)">
                             <span class="text-danger" *ngIf="email.required">E-mail id required</span>
                             <span class="text-danger" *ngIf="email.errors?.pattern"> Enter valid email id</span>
                          </div>
                       </div>
                       <br>
                       <div class="row">
                          <div class="col-6">
                             <button type="submit" class="btn btn-primary px-4" [disabled]="!loginform.valid"
                             (click)="openModal(template)">Send Mail</button>
                          </div>
                          <div class="col-1 text-right">
                             <button type="button" class="btn btn-primary px-4" (click)="gotoback()">Back</button>
                          </div>
                       </div>
                       </form>
                    </div>
                 </div>
                
              </div>
           </div>
        </div>
     </div>
  </main>
</div>
<ng-template #template>
  <div class="modal-body text-center ">
     <h4>{{this.getmsg}} </h4>
  </div>
</ng-template>